.windowBody {
    background-color: black;
}

/* Left side */
.leftPane {
    height: 100%;
}

.siteRow {
    position: relative;
    bottom: 20px;
}

.siteRowError > .siteResponse {
    color: red;
}

.siteRowError > .siteName {
    color: red;
}

.siteName, .siteResponse {
    position: relative;
    color: lime;
}

.siteName {
    left: 20px;
}

.siteResponse {
    right: 20px;
}

.timeStamp {
    position: fixed;
    height: 5%;
    color: lime;
}

/* Right side */
.rightPane {
    height: 100%;
}

.menuButtonBar {
    height: 5%;
}

.menuToggleLabel {
    color: white;
    height: 10px;
}

.menuToggleButton {
    position: fixed;
    right: 20px;
}

.menuPaneContainer { 
    height: 90%;
}

.menuPane {
    height: 100%;
}

.menuInputRow {
    height: 10%;
}

.menuInputLabel {
    transform: translateX(0%) translateY(25%);
    color: white;
    position: fixed;
}

.menuInput {
    position: fixed;
    right: 20px;
}

.timerPane {
    height: 5%;
}

.timerLabel, .timerCount {
    position: fixed;
    color: lime;
}

.timerLabel {
    left: 20px;
}

.timerCount {
    right: 20px;
}
